<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dutch_Lady_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Dutch_Lady_App.Properties.Settings>
            <setting name="x_lid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y_lid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x1_lid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1_lid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x_water" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y_water" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x1_water" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="y1_water" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="threshold_lid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="threshold_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="higher_score_lid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="min_area_water" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="delay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="x_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="x1_top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="min_ra" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="min_edges" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_edges" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_ra" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y1_top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lim_area_top" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Camera_id1" serializeAs="String">
                <value>23355261</value>
            </setting>
            <setting name="Camera_id2" serializeAs="String">
                <value>22160460</value>
            </setting>
            <setting name="min_cir_ratio" serializeAs="String">
                <value>0.55</value>
            </setting>
            <setting name="shrink_seal" serializeAs="String">
                <value>0.99</value>
            </setting>
            <setting name="lower_score_lid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ratio_otsu_water" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lim_form_top" serializeAs="String">
                <value>0</value>
            </setting>
        </Dutch_Lady_App.Properties.Settings>
    </userSettings>
</configuration>
